<html>
  <head>
    <title>Test json Img</title>
  </head>
  <body>
    <h1>Test json Img</h1>
    <img id="bg" width="80%" height="auto">
  </body>
  
  <script>
        function myFunction(arr) {
            var image = document.getElementById('bg');
            dat=arr['image'];
            console.log(dat);
            data = "data:image/png;base64,"+dat
            image.setAttribute('src', data);
        }
        var request = new XMLHttpRequest();
        var url = "jsonImg/";
        
        
        request.open("GET", url);
        request.responseType = 'json';
        request.send();
        request.onload = function() {
            var x = request.response;
            myFunction(x);
        }

        
  </script>
</html>
